.main {
  background-color: #dadada;
  display: flex;
  flex-direction: row;
  gap: 105px;
  justify-content: space-evenly;
}

@media screen and (max-width: 1750px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    gap: 48px;
  }
}
