.main {
  background-color: #dadada;
  height: 100vh;
}

@media screen and (max-width: 1750px) {
  .main {
    height: 185vh;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    height: 260vh;
  }
}
