.takeOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  opacity: 0.75;
  width: 1200px;
  position: fixed;
}
.backdrop {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  z-index: 100;
  width: 1200px;
  height: calc(100vh - 60px);
}

@media screen and (min-width: 1200px) {
  .backdrop {
    display: none;
  }
}
